upstream backend {
    server ${UPSTREAM_HOST};
}

server {
    location /v1/health {
        add_header Content-Type text/plain;
        access_log  off;
        return 200 'ok';
    }

    location /v1/books {
        proxy_pass  http://backend;
    }
}
